<!DOCTYPE html>
<html>
  <head>
    <title>AnonumousPoems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
        <%= link_to('匿名詩集','/') %>
        </div>
        <div class="header-right">
          <ul>
            <li><%= link_to('概要','/about') %></li>
            <li><%= link_to('詩集一覧','/poems/index') %></li>
            <li><%= link_to('詩集作成','/poems/create') %></li>
          </ul>
        </div>
      </div>
    </header>
    <% if flash[:notice] %>
      <div class="notice">
        <div class="container">
          <div class="msg-box">
            <p><%= flash[:notice] %></p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="footer-left">
          匿名詩集 -Anonymous Poems-
        </div>
        <div class="footer-right">
          <ul>
            <li><%= link_to('Q&A','/about') %></li>
            <li><%= link_to('お問い合わせ','/about') %></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
